.closeBtn{
    margin:auto;
    background: none;
    padding:0;
    float: right;
    border:none;
}

button img{
    max-width: 20px;
}

@media only screen and (min-width: 900px) {
    .closeBtn{
        display:none;
    }
}
@media only screen and (max-width: 450px) {
    button img{
        max-width: 15px;
    }
}