.header {
    width:100vw;
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    margin:1rem auto;
}
@media only screen and (max-width: 600px) {
    svg{
        width:200px;
    }
}



/* .tort{
    font-style: italic;
    animation: rotation 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    display: inline-block;
} */

/* @keyframes rotation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(359deg);
    }
  } */


/* safari */
/* @-webkit-keyframes infiniteRotate {    
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
} */
/* standard */
/* @keyframes infiniteRotate {  
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
} */
/* nav{
    font-family: helvetica neue;
    font-weight: 100;
    display: inline-block;
    margin-top:auto;
    margin-bottom:auto;
    
}

    .nav-list{
        display:flex;
        list-style-type: none;
        margin:0;
    }

    .nav-item {
        display: flex;
        font-size: 0.9rem;
        margin-right: 1.3rem;
    }


    .nav-item:hover{
        color: hsla(315, 86%, 66%, 0.8);
    }
    .active-nav-item{
        color:hsl(244, 100%, 69%)
    }

.socialList {
    display: inline-block;
    margin-top:auto;
    margin-bottom:auto;
}

    .social{
        margin-right:1rem;
    } */