.header {
    width:100vw;
    display: flex;
    justify-content: center;
}

/* h1{
    text-align: center;
    margin:1rem auto;
} */
@media only screen and (max-width: 600px) {
    svg{
        width:200px;
    }
}