.hero {
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    scroll-snap-align: start;
    background-color:var(--hero)
}

.spread, video{
    max-width: 70vw;
    margin: 0 auto;
}

.purchase{
    margin:1rem auto;
    border: solid 1px var(--hero);
    /* width: 30vw; */
    padding:10px 50px;
}
.purchase:hover {
    border: solid 1px var(--black)
}