.hero {
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    scroll-snap-align: start;
    background-color:var(--hero);
    justify-content: space-between;
}

.spread, video{
    max-width: 70vw;
    margin: 0 auto;
}

.purchase{
    margin:0 auto;
    border: solid 1px var(--hero);
    /* width: 30vw; */
    padding:20px 50px;
}
.purchase:hover {
    border: solid 1px var(--black)
}

@media only screen and (max-width: 900px) {
    .purchase{
        
    }
}