.wallpaper{
    width: 100vw;
    height:100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 15vh 15vh 17vh 15vh 15vh 15vh;
    justify-content: space-between;
    letter-spacing: -2px;
    position: fixed;
    z-index: 10;
    animation: fadeOut 6s ease-in-out forwards;
    background-color: #fff;
}

.mainLogo{
    width: 100vw;
    z-index: 11;
    position: absolute;
    animation: scale 5s forwards;
    margin:10px 0;
    letter-spacing: -1px;
    font-size: 36px;
}
.mainLogo span{
    font-style: italic;
}


@keyframes fadeOut {
    0% {opacity: 1;}
    50% {opacity: 1;}
    70% {opacity: 0.75;
        }
    90% {opacity: 0;
        background-color:none;}
    100% { display: none;
        z-index: -1;} 
 } 


 @keyframes scale {
    0% {transform: scale(1,1)}
    25% {transform: scale(1,1)}
    100% {transform: scale(1.53,1.53) translate(0, 25%);
        position: absolute;
        } 
 } 



.logo{
    font-size: 36px;
    font-weight: 200;
    line-height: 0.9;
    text-align: left;
}
.logo span{
    font-style: italic;
}

.wallpaper h1:nth-child(3){
    opacity:0;
}


.about{
    font-size: 32px;
    line-height: 0.9;
    grid-column: 1 /3;
    grid-row: 3;
    text-align: left;
    margin-left:10%;

}


@media only screen and (max-width: 1200px) {
    .wallpaper{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10vh 10vh 12vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    }
    .wallpaper h1:nth-child(3){
        opacity:1;
    }
    .wallpaper h1:nth-child(2){
        opacity:0;
    }

    @keyframes scale {
        0% {transform: scale(1,1)}
        25% {transform: scale(1,1)}
        100% {transform: scale(1.53,1.53) translate(0, 100%);
            } 
     } 
}



@media only screen and (max-width: 900px) {
    .wallpaper{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 12vh 12vh 15vh 12vh 12vh 12vh 12vh 12vh;
    }

}

@media only screen and (max-width: 700px) {
    @keyframes scale {
        0% {transform: scale(0.5,0.5)}
        25% {transform: scale(0.5,0.5)}
        100% {transform: scale(1.2,1.2) translate(0, 25%);
            } 
     }



    .logo, .about{
        font-size: 18px;
        letter-spacing: 0;
    }

}